
<div class ="form-control">
	<div class = "tag"> Full Name </div>
	<input type="text" name="full-name">
</div>
<div class ="form-control">
	<div class = "tag"> Email </div>
	<input type="text" name="email">
</div>
<div class ="form-control">
	<div class = "tag"> Subject </div>
	<input type="text" name="subject">
</div>
<div class ="form-control">
	<div class = "tag"> Message </div>
	<input type="text" name="message" cols="30" rows="10">
</div>	
<div class="form-control">
	<input type="Submit" class="btn submit-btn" value="Send Message">


