
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles2.css' %}">
        <title>Grid Example</title>
    </head>  
    <body>


        <div class = "container">
            <div class="header">HEADER</div>
            <div class="menu">MENU</div>
            <div class="image-cell">Image Cell</div>
            <div class="intro-cell">Image Cell</div>
            <div class="content">CONTENT</div>
            <div class="footer">FOOTER</div>
        </div>
    </body>
</html>
