<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Grid Example</title>
        
    </head>
    <body>
        <div class="grid-container"> 
            <div class="grid-item-1">Grid item 1</div>
            <div class="grid-item-2">Grid item 2</div>
            <div class="grid-item-3">Grid item 3</div>
            <div class="grid-item-1">Grid item 4</div>
            <div class="grid-item-2">Grid item 5</div>
            <div class="grid-item-3">Grid item 6</div>
        </div>
    </body>
</html>
